<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular Material Boilerplate</span>
    <span class="example-spacer"></span>
    <!-- materrial icon(https://material.io/resources/icons/?style=baseline) -->
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">accessibility</mat-icon>
    <!-- Fontawesome icon(https://fontawesome.com/icons?d=gallery&q=login) -->
    <mat-icon class="example-icon" aria-hidden="false" fontSet="fa" fontIcon="fa-sign-in-alt"></mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
